html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: #181c21;
    display: flex;
}

.pattern-bg {
    flex: 1;
    background: repeating-linear-gradient(
        135deg,
        #232526 0px,
        #232526 60px,
        #23252699 70px,
        #414345 130px
    );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 2000px;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
}

.grid-item {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 40px;
}

.span-3-rows {
    grid-row: span 3;
}

.span-2-cols {
    grid-column: span 2;
}

.error-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
    animation: fadeIn 0.5s ease;

}

.error-form {
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    animation: slideUp 0.3s ease;
    position: relative;
}

.submit-button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #23252699 solid 0.15em;
  border-radius: 0.25em;
  color: #23252699;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.submit-button p {
  z-index: 1;
}

.submit-button:hover {
  color: #212121;
}

.submit-button:active {
  border-color: teal;
}

.submit-button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #23252699;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.submit-button::before {
  left: 0;
  transform: translateX(-8em);
}

.submit-button::after {
  right: 0;
  transform: translateX(8em);
}

.submit-button:hover:before {
  transform: translateX(-1em);
}

.submit-button:hover:after {
  transform: translateX(1em);
}

.submit-button:active:before,
.submit-button:active:after {
  background: #23252699;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
