<!DOCTYPE html>
<html>
<head>
    <title>Handwritten Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!--add favicon-->
    <link rel="icon" sizes="64x64" href="{{ url_for('static', filename='images/favicon.ico')}}?v=1" type='image/x-icon'>
</head>

<body>
    
    <div class="container">
        <div class="pattern-bg">
            <div class="grid-container">
                <div class="grid-item span-2-cols">Handwritten Calculator</div>
                <div class="grid-item span-3-rows">File Upload</div>
                <div class="grid-item">Equation Display</div>
                <div class="grid-item">Result Output</div>
                <div class="grid-item">Error Pop-up</div>
            </div>
        </div>
    </div>


</body>
</html>
